/* colours
blue: #009CBF
orange: #F75F00
green: #00A388
--tint-1: #333;
--tint-2: #666;
--tint-3: #999;
--tint-4: #ccc;
--tint-5: #e6e6e6;
--tint-6: #f2f2f2;
 */
@font-face {
  font-family: "ABCSans Regular";
  font-style: normal;
  font-weight: normal;
  src: local("ABCSans Regular"), url("../fonts/abcsans-regular.woff") format("woff");
}
@font-face {
  font-family: "ABCSans Light";
  font-style: normal;
  font-weight: normal;
  src: local("ABCSans Light"), url("../fonts/abcsans-light.woff") format("woff");
}

:root {
  font-size: 1em;
  font-family: "ABCSans Regular", "Arial", sans-serif;
  color: #333;
}
body {
  overflow: hidden;
}
h1, p {
  margin: 0;
}
#container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-flow: column;
  margin-bottom: 1em;
}
#chart {
  height: 100%;
}
#footer {
  margin-top: .5rem;
  font-size: .7rem;
}
a, a:visited {
  color: #009CBF;
  text-decoration: none;
}
#axisGroup, #chartGroup {
  opacity: 0;
}
#axisGroup .label {
  fill: #666;
  font-size: .9rem;
  font-weight: bold;
  text-anchor: end;
}
.domain {
  stroke: #ccc;
}
.tick line {
  stroke: #ccc;
  stroke-dasharray: 3 3;
}
.tick text {
  fill: #666;
  font-size: .7rem;
}
.plot {
  stroke: #F75F00;
  fill: none;
}
#rainfall {
  stroke: #009CBF;
}
.axisLabel {
  fill: #009CBF;
  font-size: .75rem;
  font-weight: bold;
  text-anchor: start;
}
#yAxisTempGroup .axisLabel {
  fill: #F75F00;
  text-anchor: end;
}
#title {
  fill: #333;
  font-size: .9rem;
  font-weight: bold;
}
#subTitle {
  font-size: .75rem;
  font-family: "ABCSans Light", "Arial Narrow", sans-serif;
}
@media only screen and (min-width: 500px) {
  a:hover {
    color: #FFB300;
  }
  #footer {
    font-size: .8rem;
  }
  #title {
    font-size: 1rem;
  }
}
